<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%=name%></h1>

    <p style="background-color: orange;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quibusdam
      aliquid. Laborum facilis exercitationem blanditiis voluptas optio dolorum
      sint distinctio quasi? Nihil aut id ipsa harum hic, accusantium sapiente
      excepturi! <%=value%>
    </p>

    <% if(name === "Abdulmalek"){ %>
      <div>Name Is Abdulmalek</div>
    <% }%>
  </body>
</html>
